h1{
    color: #ffffff;
    background-color: black;
}
h2{
    color: #ffff00;
    background-color: brown;
    color: rgb(255,255,0);
}
h3{
    color: #00ffff;
    background-color: blueviolet;
    color: rgb(00,255,255);
}